[submodule "tests/nf-core-test-datasets"]
	path = tests/nf-core-test-datasets
	url = https://github.com/TRON-Bioinformatics/nf-core-test-datasets.git
[submodule "nf-core-modules"]
	path = nf-core-modules
	url = https://github.com/TRON-Bioinformatics/nf-core-modules.git
