[submodule "modules"]
	path = modules
	url = https://github.com/tron-bioinformatics/modules
[submodule "tests/data"]
	path = tests/data
	url = https://github.com/TRON-Bioinformatics/nf-core-test-datasets.git
